[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
flask-login = "*"
cryptography = "*"
celery = "*"
psutil = "*"
flask-sqlalchemy = "*"
requests = "*"
dicttoxml = "*"
pyjwt = "*"
redis = "*"

[requires]
python_version = "3.6"
